/* Mobile */
.about{
    background-color: #EAF2FD;
    padding: 1em;
}

.about__box{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about__title{
    font-size: 1.38em;
    font-weight: 800;
}

.about__paragraph{
    font-size: 0.88em;
}

/* Tablet */

@media (min-width:768px){
    .about{
        padding: 2em;
    }

    .about__paragraph{
        font-size: 0.9em;
    }
}

/* Desktop */
@media (min-width:1024px){
    .about{
        padding: 4em;
    }

    .about__box{
        text-align: justify;
        width: 65%;
    }
    
    .about__title{
        font-size: 2em;
    }
}