/* Mobile */
.about{
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.about__title{
    font-size: 1.38em;
    font-weight: 800;
}

.about__paragraph{
    font-size: 1.04em;
    text-align: left;
}

/* Tablet */

@media (min-width:768px){
    .about{
        padding: 2em;
    }

    .about__paragraph{
        font-size: 0.9em;
    }
}