.academic{
    width: 100vw;
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    gap: 2em;
}

.academic__title{
    font-size: 1.38em;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* Tablet */
@media (min-width:768px){
    .academic__courses__item__subtitle{
        font-size: 0.88em;
    }
}
