.formcontato{
    background-color: #EAF2FD;
    padding: 2em;
}

.formcontato__contacto{
    display: flex;
    justify-content: center;
}

.error__message {
    font-size: 1em;
    margin: 1em 0;
    color: #f00;
}

.formcontato--esquerda{
    display: none;
}

.formcontato__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontato__title{
    font-size: 1.38em;
    margin-bottom: 0.5em;
}

.formcontato__subtext{
    font-weight: 400;
}

.formcontato__form{
    margin: 2em 0;
}

.formcontato__input,
.formcontato__textarea{
    width: 95%;
    margin-bottom: 1em;
    padding: 1.25em 1em;
    border: none;
    border-radius: 0.25em;
}

.formcontato__input::placeholder,
.formcontato__textarea::placeholder{
    font-family: 'Raleway';
    font-size: 1em;
}

.formcontato__botao{
    height: 5.45vh;
    padding: 0.75em 1em;
    font-family: 'Raleway';
    font-size: 0.88em;
    background-color: #2A7AE4;
    color: #fff;
    border: none;
}

/* Desktop */
@media (min-width:1024px){
    .formcontato{
        display: flex;
        gap: 1em;
        padding: 4em;
    }

    .formcontato__contacto{
        gap: 1em;
        padding-top: 4em;
    }

    .formcontato--esquerda{
        display: block;
    }

    .formcontato__img{
        height: 62.5vh;
    }

    .formcontato__title{
        font-size: 2em;
    }

    .formcontato__subtext{
        text-align: justify;
    }
}