/* Mobile */
.skills,
.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
}

.skills__title,
.hobbies__title{
    font-size: 1.38em;
}

.skills__line,
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em 1em;
}

.skills__box,
.hobbies__box{
    width: 35vw;
    height: 20vh;
    display: flex;
    background-color: #fff;
    padding: 16px;
    font-weight: 700;
}

.skills__box ul,
.hobbies__box ul{
    align-self: flex-end;
}

/* Tablet */
@media (min-width:768px){
    .skills,
    .hobbies{
        padding: 2em;
    }

    .skills__line,
    .hobbies__line{
        flex-wrap: wrap;
        justify-content: unset;
    }

    .skills__box,
    .hobbies__box{
        width: 24vw;
        height: 14vh;
    }

    .skills__name,
    .hobbies__name{
        font-weight: 700;
    }
}

/* Desktop */
@media (min-width:1024px){
    .skills__title,
    .hobbies__title{
    font-size: 2em;
}

    .skills__box,
    .hobbies__box{
        width: 13vw;
    }
}