/* Mobile */
.title {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.title__profile{
    width: 25%;
}

.title__container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title__bio{
    font-size: 1.38em;
}

.title__subsection{
    font-size: 0.88em;
    font-weight: 400;
}

.title__network{
    display: flex;
    gap: 1.5em;
    font-size: 0.88em;
    font-weight: 700;
}

/* Tablet */
@media (min-width: 768px){
    .title{
        flex-direction: row-reverse;
        align-items: center;
        padding: 2em;
    }
    
    .title__container{
        gap: 0.5em;
    }

    .title__bio{
        font-size: 1.38em;
    }

    .title__subsection{
        padding-right: 2em;
    }

    .title__network{
        font-weight: 400;
    }
}